@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
body {
    font-family: 'Kurale', serif;
    background-image: linear-gradient(45deg, rgb(252, 169, 90),rgb(162, 85, 124),rgb(71, 0, 157));
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    width: 387px;
    text-align: center;
}

h1 {
    color: #FFBDBD;
    -webkit-text-stroke: 0.1px #000000;
}

button {
    padding: 10px;
    background: #CC5500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    color: #CC5500;
    background: #622901;
}

.date-picker, .task-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
}
.task-screen, .add-task-screen {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .delete {
    background: #DC3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

li .delete:hover {
    background: #970211;
}

@media (orientation: portrait) and (max-width: 450px) {
    .container {
        width: 90%;
        max-width: 300px;
        padding: 15px 0;
        border-radius: 10px;
    }

    h1 {
        font-size: 25px;
    }

    button, .date-picker, .task-input {
        width: 90%;
        padding: 10px;
    }

    ul {
        margin-top: 15px;
    }

    li {
        padding: 10px;
    }

    li .delete {
        width: 15px;
    }
}
.calendar-header{
    position: relative;
    top: -68px;
    width: 100%;
    height: 100px;
    background-color: #c35a54;
    border-radius: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 12px #3c3939, 
    inset 0 -8px 2px #3c3939 ;
}

.clips {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -60px;
    padding: 0 30px;
}

.clip {
    width: 18px;
    height: 35px;
    background-color: #f4c542;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 3px 4px #3c3939;
    position: relative;
}

.clip::after {
    content: "";
    width: 10px;
    height: 5px;
    background-color: #565151;
    position: absolute;
    top: 6px;
    left: 4px;
    border-radius: 2px;
}